$gap: 0.777em;

.main-header {
  padding: 2rem 0;

  @include media-width(from, $container-breakpoint) {
    padding-bottom: 3rem;
  }
}

.logotype {
  margin-bottom: 0;
}

.logotype {
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }

  img {
    max-width: 130px;
  }
}

.headline {
  color: $gray;
  font-size: 1em;
  font-weight: normal;
  margin-top: -0.5rem;

  a {
    color: $black;
  }
}
