body {
  font-family: $sans-serif-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

h3,
h4 {
}

h4 {
}

h5 {
}

h6 {
}

code {
  background: rgba(#000, 0.02);
  border-radius: 2px;
  padding: 0.2em 0.4em;
  width: 100%;
}

sup {
  margin-left: 0.2em;
  top: 0;
  vertical-align: super;
}

abbr[title] {
  background-color: rgba(yellow, 0.5);
  border: none;
}

p {
  margin: 0 0 1em;
}
