article[class*=post] {
  $image-outdent: 5%;
  $margin: 1.5em;

  figure {
    margin: $margin 0;

    @include media-width(from, $container-breakpoint) {
      margin: ($margin * 2) 0;
    }
  }

  figcaption {
    color: $gray;
    font-size: 0.85rem;
    font-style: italic;;
    font-weight: 100;
  }

  img {
    border-radius: $border-radius;
    border: 1px solid rgb(237, 237, 237);
    margin-left: $image-outdent * -1;
    max-width: 100% + ($image-outdent * 2);
  }
}

.post-content {
  a {
    text-decoration: underline;

    &:link {
      color: $link-color;
    }

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }

    &:active {
      color: $link-active-color;
    }
  }
}
