.post-header {
  margin-bottom: 2rem;

  .post-title {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
}

.post-taxonomy {
  border-bottom: 1px solid $ash;
  padding-bottom: 0.5em;
}

.post-category {
  @extend %skewed;
  background: $ash;
  position: relative;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  margin-left: 0.4em;

  &:before {
    $gap: 5%;
    background: $ash;
    height: 1.8em;
    left: $gap * -1;
    width: 100% + ($gap * 2);
  }
}

.post-title {
  margin: 0;
}

.post-link {
  &,
  &:link,
  &:visited {
    color: $black;
  }

  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}

[class*=metadata] {
  color: $gray;
  font-weight: 300;
  font-size: 0.9em;
}

.post-metadata {
  [role=img] {
    display: inline-block;
    width: 2.5rem;
    margin-bottom: 0.08em;
  }
}

[class*=tag-list] {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0.6rem;
  margin-top: 0;
  padding: 0;
}

.tag-label {
  display: inline-block;

  &::after {
    color: $tertiary-color;
    content: "/";
  }

  &:last-of-type::after {
    content: "";
  }
}

.separator {
  color: $tertiary-color;
}
