<html>
  <head>
    <title>
      {{# if title}}{{ title }} &mdash; {{/ if}}
      {{ site.title }}
    </title>
    <meta name="description" content="{{ description }}">
  </head>
  <body>
    {{# block "main"}}
      {{{ contents }}}
    {{/ block}}
    {{#each collections.posts}}
     HI POST
     {{/each}}
  </body>
</html>
