<script type="text/javascript">
  (function(){
    var analytics = window.analytics = window.analytics || [];
    if (analytics.initialize) return;

    if (analytics.invoked) {
      if (window.console && console.error) {
        console.error('Segment snippet included twice.');
      }
      return;
    }

    analytics.invoked = true;
    analytics.methods = [
      'trackSubmit',
      'trackClick',
      'trackLink',
      'trackForm',
      'pageview',
      'identify',
      'group',
      'track',
      'ready',
      'alias',
      'page',
      'once',
      'off',
      'on'
    ];

    analytics.factory = function(method){
      return function(){
        var args = Array.prototype.slice.call(arguments);
        args.unshift(method);
        analytics.push(args);
        return analytics;
      };
    };

    for (var i = 0; i < analytics.methods.length; i++) {
      var key = analytics.methods[i];
      analytics[key] = analytics.factory(key);
    }

    analytics.load = function(key){
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = ('https:' === document.location.protocol
        ? 'https://' : 'http://')
        + 'cdn.segment.com/analytics.js/v1/'
        + key + '/analytics.min.js';

      var first = document.getElementsByTagName('script')[0];
      first.parentNode.insertBefore(script, first);
    };

    analytics.SNIPPET_VERSION = '3.0.1';
    analytics.load("CDiVYdeJSWirU8ofPaEBbPcAnyD8sttB");
    analytics.page();
  })();
</script>
