---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
    </h1>

    <div class="post-metadata">
      <time datetime="{{ page.date | data_to_xmlschema }}">
        {{ page.date | date: "%R %b %-d, %Y" }}
      </time>

      <span class="separator">&mdash;</span>

      {% assign reading_time = page.content | strip_html | number_of_words | divided_by: site.wpm %}
      {% include reading_time.html reading_time=reading_time %}

      <span class="separator">&mdash;</span>

      Posted in <em>{{ page.category | capitalize }}</em>

    </div>
  </header>

  <section class="post-content">
    {{ content }}

    <section class="feedback-box">
      <a href="http://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=kaishin&related=tentativefm" target="_blank">Tweet this</a> or send your feedback to <a target="_blank" href="https://twitter.com/intent/tweet?screen_name=kaishin">@kaishin</a>.
    </section>
  </section>
</article>
