$gap: 0.777em;

.main-header {
  padding: 2rem 0;
}

.logotype {
  margin-bottom: 0;
}

.logotype-link {
  @extend %skewed;
  color: $white;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  margin-left: -$gap;
  padding-left: $gap;
  padding-right: $gap;
  position: relative;
  text-transform: lowercase;
  transition: all 0.2s;
  z-index: 10;

  &:before {
    background-color: $black;
    left: 0;
    width: 100%;
  }

  &:link,
  &:active,
  &:visited {
    color: $white;
  }

  &:hover {
    text-decoration: none;
    transform: translate(0.5em);

    &:before {
      background-color: $link-hover-color;
    }
  }
}

.headline {
  color: $gray;
  font-size: 1em;
  font-weight: 200;
  margin-top: 0.5em;

  a {
    color: $black;
    font-weight: 400;
  }
}
