$gap: 0.777em;

header {
  padding: 2rem 0;
}

.logotype {
  margin-bottom: 0;
}

.logotype-link {
  @extend %skewed;
  color: $white;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  margin-left: -$gap;
  padding-left: $gap;
  padding-right: $gap;
  position: relative;
  text-transform: lowercase;
  transition: color 0.2s;
  z-index: 10;

  &:before {
    background: $black;
    left: 0;
    transition: transform 0.2s;
    width: 100%;
  }

  &:link,
  &:active,
  &:visited {
    color: $white;
  }

  &:hover {
    color: transparent;
    text-decoration: none;

    &:before {
      transform: skew($skew-degree);
    }
  }
}

.logotype-link-text {
  background: $black;
}

.headline {
  color: #808080;
  font-size: 1em;
  font-weight: 200;
  margin-top: 0.2em;
}
