$container-width: 40rem;
$skew-degree: 8deg;

$black: #000;
$white: #fff;
$ash: #f5f5f5;
$gray: #b0b0b0;
$mauve: #7760c3;
$ashtray: adjust-hue($mauve, -50deg);

$link-color: $ashtray;
$link-visited-color: adjust-hue($mauve, -20deg);
$link-hover-color: mix(adjust-hue($mauve, -20deg), $ashtray);
$link-active-color: $mauve;

$skewed-pseudo-height: 1.45em;
