@import "vendor";
@import "variables";
@import "syntax";
@import "typography";
@import "header";
@import "post-list";
@import "extends";

@import "includes/post-summary";
@import "includes/reading-time";

[data-role=container] {
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 1rem;

  @include media-width(from, $container-width) {
    padding: 0;
  }
}

a {
  text-decoration: none;
  transition: color 0.2s;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $link-active-color;
  }
}
