<html>
  <head>
    <title>
      {{# if title}}{{ title }} &mdash; {{/ if}}
      {{ site.title }}
    </title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    {{# block "main"}}
      {{{ contents }}}
    {{/ block}}
    {{#each collections.posts}}
   {{/each}}
  </body>
</html>
