<html>
  <head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
  </head>
  <body>
    {{# block "main"}}
      {{{ contents }}}
    {{/ block}}
  </body>
</html>
