<article class="post-summary">
  <h2 class="post-title">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      {{ post.title }}
    </a>
  </h2>

  <div class="post-metadata">
    <time datetime="{{ post.date | date_to_xmlschema }}">
    {{ post.date | date: "%b %-d, %Y" }}
    </time>

    <span class="separator">&mdash;</span>

    {% assign reading_time = post.content | strip_html | number_of_words | divided_by: site.wpm %}
    {% include reading_time.html reading_time=reading_time %}
  </div>

  <section class="post-content">
    {{ post.excerpt }}
  </section>
</article>
