---
layout: default
---
<article class="post">
  <header class="post-header">
    {% include post_category.html category=page.category %}

    <h1 class="post-title">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
    </h1>

    <div class="post-metadata">
      <time datetime="{{ page.date | data_to_xmlschema }}">
        {{ page.date | date: "%R %b %-d, %Y" }}
      </time>

      <span class="separator">&mdash;</span>

      {% assign reading_time = page.content | strip_html | number_of_words | divided_by: site.wpm %}
      {% include reading_time.html reading_time=reading_time %}

      <ul class="metadata-tag-list">
        {% for tag in page.tags %}
        <li class="tag-label">
          {{ tag }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </header>

  <section class="post-content">
    {{ content }}
  </section>
</article>
