---
layout: default
---

<article class="post">
  <h1 class="post-title">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      {{ page.title }}
    </a>
  </h1>

  <div class="post-metadata">
    {% assign reading_time = page.content | strip_html | number_of_words | divided_by: site.wpm %}
    <time datetime="{{ page.date | data_to_xmlschema }}">
    {{ page.date | date: "%R %b %-d, %Y" }}
    </time>
    <span class="reading-time">
    &mdash; {{ reading_time }} minute{% if reading_time > 1 %}s{% endif %} read
    </span>
    {% if page.category %}
    <span class="category">
    &mdash; {{ page.category }}
    </span>
    {% endif %}
  </div>

  <section class="post-content">
    {{ content }}
  </section>
</article>
